logging:
  level:
    org:
      hibernate: ERROR
      springframework:
        web: ERROR
    root: ERROR
server:
  port: 8081
spring:
  datasource:
    password: postgres
    url: jdbc:postgresql://localhost:5432/crs
    username: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
